.footer-a p{
    font-size: 12px;
}

.footer-a{
    margin-top: 50px;
}

.details-ul{
    list-style-type: none;
}

.details-ul li{
    font-size: 12px;
}

a{
    /* text-decoration: none; */
    color: gray;
}