<footer class="text-center footer-a text-lg-start bg-black text-muted">
 
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- <div class="ft-border-bottom">
      
    </div> -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
     
  
      
      <div>
        <a href="https://web.facebook.com/profile.php?id=100087455959218" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
     
    </section>
    
  
    
    <section class="border-bottom-b">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
         
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
           
            <h5 class="text-uppercase fw-bold mb-4">
              <i class="fas  me-0 text-secondary"></i>Amazon National INstitute 
            </h5>
            <ul class="details-ul">
                <h6>Gampaha Branch</h6>
                <li><i class="fas fa-home me-1 text-secondary"></i> 203/8,Veyangoda,Gampaha</li>
                <li><i class="fas fa-phone me-1 text-secondary"></i><a href="#"> +94777357477</a></li>
            </ul>
            <ul class="details-ul">
                <h6>Matara Branch</h6>
                <li><i class="fas fa-home me-1 text-secondary"></i> 343/6,Station Road,Matara</li>
                <li><i class="fas fa-phone me-1 text-secondary"></i><a href="#">+94777357478</a> </li>
            </ul>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-1 text-secondary"></i> 196/3,Navinna,Nugegoda</p>
            <p>
              <i class="fas fa-envelope me-1 text-secondary"></i>
              <a href="#">amazonnationalinstitute@ani.ac.lk</a> 
            </p>
            <p><i class="fas fa-phone me-1 text-secondary"></i><a href="#">+94777357473</a> </p>
            <p><i class="fas fa-print me-3"></i><a href="#">+94112332337</a> </p>
            
          </div>
         
        </div>
     
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      <p>© 2023 Copyright:<a class="text-reset fw-bold" href="">AmazonNationalInstitute.com</a></p>
      <p>Design By TKJ_Devolopers</p>
    </div>   
  </footer>