<!DOCTYPE html>
<html>
    <body>
                <h4>About Us</h4> 
                <p>Amazon National Institute (ANI) is a venture of Amazon Holdings, established with the commitment to provide the best in Higher Education, making it more accessible and affordable to students across the country.

                    Located in the heart of Colombo, as well as with a branch campus in Kandy, ANI aspires to play a central role in making Sri Lanka an international education hub of Asia. The state-of-the-art learning facilities enable students to have access to education on par with international standards, from the comfort of home.
                    
                    At ANI, our focus is on delivering excellence in education with the highest international standards, ANI only the best in your learning experience. This is reflected in the prestigious university qualifications offered, our well experienced academic faculty, the modern, state-of-the-art learning facilities as well as the friendly and supportive study environment.
                    
                    We take pride in enabling students to have access to their dream university, regardless of what country it is located in. By opening up an array of prestigious and globally recognized higher education opportunities for Sri Lankan students, we aim to transform today’s young minds into tomorrow’s leaders.
                    
                    ANI students
                    By opening up an array of prestigious and globally recognized higher education opportunities for Sri Lankan students, we aim to transform today’s young minds into tomorrow’s leaders.                    
                    
                </p>
           <h4>Vision</h4> 
           <p>Our vision is to become Sri Lanka’s leading higher education provider.</p>

           <h4>Mission</h4>
           <p>Striving to provide students with a globally recognized qualification and thereby transform today’s young minds into tomorrow’s leaders.</p>
    </body>
</html>
