<!DOCTYPE html>
<html>
    <body>
      <h5 style="margin-top: 10px; text-decoration: underline;">Avialable Programs for After A/L Students</h5>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diploma in Digital marketing</h5>
                  <p class="card-text">The objective of this course is to introduce students to the concepts, analyses, and activities that comprise marketing management, and to provide practice in assessing and solving marketing problems. The course is also a foundation for advanced electives in Marketing as well as other business/social disciplines. Topics include marketing strategy, customer behavior, segmentation, market research, product management, pricing, promotion, sales force management and competitive analysis.</p>
                  <!-- <a href="#" class="btn btn-primary">Mo</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Dual Diploma in IT & English</h5>
                  <p class="card-text">
                    After A/L, use your time wisely and gain essential skills via ANI Dual Diploma in IT & English. Regardless of your professional or higher education goals after high school, it is very difficult to move towards the desired goals in the field of employment or higher education today without the essential knowledge of IT and English.</p>
                  <!-- <a href="#" class="btn btn-primary">Mo</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diploma in Human Resource management</h5>
                  <p class="card-text">Learn human resource management as you experience during this 12-month full-time intensive program package . Gain leadership, teamwork, communication and strategic planning skills essential for a successful career in the HR industry.</p>
                  <!-- <a href="#" class="btn btn-primary">Mo</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diploma in Tourism & Hospitality</h5>
                  <p class="card-text">Many courses have the option of taking a placement year in industry. This provides the opportunity to put your academic work into practice and to build up a network of contacts. You could also consider summer work experience or spending time working abroad. This could include working at holiday or theme parks, in a resort or at summer camps.</p>
                  <!-- <a href="#" class="btn btn-primary">Mo</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Diploma in Fashion Design</h5>
                  <p class="card-text">Fashion has always been a significant part of culture and society. As a discipline of Fine Arts and Humanities, Fashion Designing is an art that focuses on curating clothing and accessories. Fashion designers innovate and reinvent by studying old and contemporary trends and creating aesthetic designs.</p>
                  <!-- <a href="#" class="btn btn-primary">Mo</a> -->
                </div>
              </div>
            </div>
          </div>
    </body>
</html>