<!DOCTYPE html>
<html>
    <body>
      <h5 style="margin-top: 10px; text-decoration: underline;">Avialable Programs for After O/L Students</h5>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">certificate course  in IT</h5>
                  <p class="card-text">After O/L, use your time wisely and gain essential skills via ANI. Regardless of your professional or higher education goals after high school, it is very difficult to move towards the desired goals in the field of employment or higher education today without the essential knowledge of IT.</p>
                  <!-- <a href="#" class="btn btn-primary">Register Here</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Certificate in Computer Graphic Designing</h5>
                  <p class="card-text">To build your art skills to become a master- level Graphic Designer in the industry join  ANI. We can improve your creative skills.</p>
                  <!-- <a href="#" class="btn btn-primary">Register Here</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Foundation for Programming</h5>
                  <p class="card-text">Under this module we will cover basic Programming concepts with python.</p>
                  <!-- <a href="#" class="btn btn-primary">Register Here</a> -->
                </div>
              </div>
            </div>
          </div>
    </body>
</html>