<!DOCTYPE html>
<html>
    <body>
      <h4>Amazon English Academy</h4>
      <p>We provide you much facilities and suitable environment for enhance your English skill.</p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                 <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
             <div class="carousel-inner">
                 <div class="carousel-item active carousel-item0">
                 </div>
                 <div class="carousel-item carousel-item1">
                 </div>
                 <div class="carousel-item carousel-item2">
                </div>                  
             </div>
             <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                 <span  aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                 <span aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
               </a>
        </div>
        <h5 style="margin-top: 10px;">What are the benifites?</h5>
        <ul>
          <li>Facilitating weekly talks with foreigners.</li>
          <li>A foreign teacher comes and teaches once a week.</li>
          <li>Facilitating the improvement of English 
            speaking <br> through group Activities.</li>
        </ul>
        <h5 style="text-decoration: underline;">Avialable Programs</h5>
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">IELTS</h5>
                <p class="card-text">Get closer to your target IELTS band score
                  Prepare for Academic or General Training IELTS
                  Improve test-related skills for all sections of the test: listening, reading, writing and speaking. Learn useful grammar and vocabulary.</p>
                <a href="#" class="btn ">Register Here</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">English for Undergraduate Students</h5>
                <p class="card-text">Speaking, Writing, Grammar, Listening, Vocabulary, Head Way Series Syllabus followed by ANI.</p>
                <a href="#" class="btn ">Register Here</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Diploma in English Language</h5>
                <p class="card-text">Diploma in English Language is a one-year academic programme designed to meet the needs of students who wish to enhance their English language and communication skills.</p>
                <a href="#" class="btn ">Register Here</a>
              </div>
            </div>
          </div>
   </body>
</html> 
